.container {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
  width: 600px;
}

.header {
  background-color: cornflowerblue;
  height: 100px;
  line-height: 100px;
  margin-bottom: 10px;
}

.navbar {
  background-color: teal;
  height: 50px;
  line-height: 50px;
  margin-bottom: 10px;
}

.gallery {
  margin-bottom: 10px;
  border: 2px solid red;
  display: flex;
}

.gallery-left {
  height: 400px;
  background-color: khaki;
  width: 50%;
  /* display: inline-block; */
  /* margin-right: -3px; */
  /* float: left; */
}

.gallery-right {
  height: 400px;
  background-color: olivedrab;
  width: 50%;
  /* display: inline-block; */
  /* margin-left: -1px; */
  /* margin-right: -2px; */
  /* float: right; */
}

/* .gallery::after {
  display: block;
  content: "";
  clear: both;
} */

.footer {
  background-color: rgb(95, 95, 99);
  height: 100px;
  line-height: 100px;
  color: white;
}